<a href="https://colab.research.google.com/github/ykoba84/tabular-playground-series-oct-2021/blob/main/code/TPS_Oct_LightGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [ ]:
import random
import gc
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold,StratifiedKFold
from lightgbm import LGBMClassifier

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from sklearn import preprocessing
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

!pip install datatable
import datatable as dt

Collecting datatable
  Downloading datatable-1.0.0-cp37-cp37m-manylinux_2_12_x86_64.whl (96.9 MB)
     |████████████████████████████████| 96.9 MB 41 kB/s
Installing collected packages: datatable
Successfully installed datatable-1.0.0

## Memory Reduction

In [ ]:
def reduce_memory_usage(df, verbose=True):
    numerics = ["int8", "int16", "int32", "int64", "float16", "float32", "float64"]
    start_mem = df.memory_usage().sum() / 1024 ** 2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == "int":
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if (
                    c_min > np.finfo(np.float16).min
                    and c_max < np.finfo(np.float16).max
                ):
                    df[col] = df[col].astype(np.float16)
                elif (
                    c_min > np.finfo(np.float32).min
                    and c_max < np.finfo(np.float32).max
                ):
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024 ** 2
    if verbose:
        print(
            "Mem. usage decreased to {:.2f} Mb ({:.1f}% reduction)".format(
                end_mem, 100 * (start_mem - end_mem) / start_mem
            )
        )
    return df

In [ ]:
%%time
train = dt.fread('/content/drive/MyDrive/data/train.csv').to_pandas().drop('id', axis=1)
train = reduce_memory_usage(train)
test = dt.fread('/content/drive/MyDrive/data/test.csv').to_pandas().drop('id', axis=1)
test = reduce_memory_usage(test)
sub = dt.fread('/content/drive/MyDrive/data/sample_submission.csv').to_pandas()
sub = reduce_memory_usage(sub)

Mem. usage decreased to 501.63 Mb (73.2% reduction)
Mem. usage decreased to 250.34 Mb (73.3% reduction)
Mem. usage decreased to 2.86 Mb (50.0% reduction)
CPU times: user 2min 4s, sys: 12.1 s, total: 2min 16s
Wall time: 2min 45s

In [ ]:
y = train['target']

In [ ]:
bool_cols_train = []
for i, col in enumerate(train.columns):
    if train[col].dtypes == bool:
        bool_cols_train.append(i)

In [ ]:
bool_cols_test = []
for i, col in enumerate(test.columns):
    if train[col].dtypes == bool:
        bool_cols_test.append(i)

In [ ]:
train.iloc[:, bool_cols_train] = train.iloc[:, bool_cols_train].astype(int)
test.iloc[:, bool_cols_test] = test.iloc[:, bool_cols_test].astype(int)

In [ ]:
train.head()

         f0        f1        f2        f3  ...  f282  f283  f284  target
0  0.205933  0.410889  0.176758  0.223633  ...     0     0     0       1
1  0.181030  0.473145  0.011734  0.213623  ...     0     0     0       1
2  0.182617  0.307373  0.325928  0.207153  ...     0     0     0       1
3  0.180298  0.494629  0.008369  0.223633  ...     0     0     0       1
4  0.177124  0.495605  0.014259  0.548828  ...     0     1     0       1

[5 rows x 286 columns]

In [ ]:
test.head()

         f0        f1        f2        f3  ...  f281  f282  f283  f284
0  0.178223  0.435547  0.010231  0.202026  ...     1     1     1     0
1  0.181274  0.476562  0.022415  0.283203  ...     0     0     0     0
2  0.159668  0.451172  0.259766  0.365234  ...     1     0     0     0
3  0.182373  0.520996  0.095337  0.327637  ...     1     0     0     0
4  0.229370  0.336426  0.023514  0.301025  ...     0     1     0     0

[5 rows x 285 columns]

## Modeling

In [ ]:
continous_cols= ['f'+str(i) for i in range(242)]
continous_cols.remove('f22')
continous_cols.remove('f43')
categorical_cols = ['f'+str(i) for i in range(242,285)]+['f22','f43']
cols = continous_cols + categorical_cols

In [ ]:
params = {
    'reg_alpha': 8.784125077358365,
    'reg_lambda': 0.0025286925777068953,
    'colsample_bytree': 0.2,
    'subsample': 0.5,
    'learning_rate': 0.025,
    'max_depth': 100,
    'num_leaves': 7,
    'min_child_samples': 185,
    'cat_smooth': 54,
    'objective': 'binary',  
    'random_state': 48,
    'n_estimators': 20000,
    'n_jobs': -1
    }

In [ ]:
preds = np.zeros(test.shape[0])
kf = StratifiedKFold(n_splits=10,random_state=48,shuffle=True)
auc=[]  # list contains auc for each fold
n=0
for trn_idx, test_idx in kf.split(train[cols],y):
    X_tr,X_val=train[cols].iloc[trn_idx],train[cols].iloc[test_idx]
    y_tr,y_val=y.iloc[trn_idx],y.iloc[test_idx]
    model = LGBMClassifier(**params)
    model.fit(X_tr,y_tr,eval_set=[(X_val,y_val)],early_stopping_rounds=100,eval_metric="auc",verbose="False")
    preds += model.predict_proba(test[cols])[:,1]/kf.n_splits
    auc.append(roc_auc_score(y_val, model.predict_proba(X_val)[:, 1]))
    gc.collect()
    print(f"fold: {n+1}, auc: {auc[n]}")
    n+=1

In [15]:
np.mean(auc)

0.857029870154953

In [17]:
sub['target']=preds
sub.to_csv('/content/drive/MyDrive/data/submission.csv', index=False)